/* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import "react-datepicker/dist/react-datepicker.css";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');


.nav-ul{
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: grey;
  text-decoration: underline;
  text-decoration-color: grey;
  position: fixed;
  height: 100%;
  overflow: auto;

 
 
}
.App-logo{
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.nav-ul li {
  display: block;
  color: black;
  padding: 10px;
  text-decoration: underline;
  text-decoration-color: grey;
 
}
.nav-ul a.active {
  background-color: #b1e80e;
  color: rgb(208, 12, 48);
  text-decoration: underline;
  text-decoration-color: grey;
}

/* Links on mouse-over */
.nav-ul a:hover:not(.active) {
  background-color: #182237;
  color: rgb(195, 141, 24);
  text-decoration: underline;
  text-decoration-color: grey;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.content {
  margin-left: 200px;
  padding: 5px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .nav-ul {
    width: 100%;
    height: auto;
    position: relative;
  }
  .nav-ul a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .nav a {
    text-align: center;
    float: none;
  }
}
.footer{
  position: absolute;
  bottom: 0;
  text-align: left;
  width: 100%;
  background-color: gray;
  margin-left: 200px;
}

/* Customize page styles here */

.signuplabel{
  width: 100%;
  padding: 15px;
  margin-left: 350px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  height:25px;
  font-size: large;
  color:slateblue;
}
.signupbox{
  margin-left:400px ;
  padding:1px solid black;
  font-size:16px;
  display:block;
  width:30%;
  height:100%;
  padding:5px 10px;
  background:none;
  background-image:none;
  border:2px solid black;
  color:black;
  border-radius:0;
  }
  .signinh1{
    margin-left:500px ;
    font-weight: bolder;
    font-size: 28px;
    color:slateblue;

  }
.signinp{
  margin-left:500px ;
  font-weight: bolder;

}
.signupbtn{
  margin-left:600px ;
  align-items: center;
  padding: 5px;
  width:10%;
  background-color: slateblue;
  font-weight: bolder;

}

.nav-ul-nav{
  overflow: hidden;
  background-color:grey;
}

.nav-ul-nav li {
  float: right;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.logo{
  width: 45px;
  float:left ;
  border-radius: 50%;
  margin-top: 3px;
  margin-left: 20px;
  
}
.product {
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  
}
.formaddproduct {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.addproductinput {
  padding: 15px;
  border: 1px solid black;
  border-radius: 15px;
  margin-bottom: 10px;
  margin-left:400px;
  width:30%;
}
/* add product */

.container {
  
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  margin-left:300px ;
  

}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  margin-left: 150px;
  color: white;
 
}

.form input,
.form textarea,
.form select {
  padding: 20px;
  background-color: var(--bg);
  color: white;
  border: 2px solid #2e374a;
  border-radius: 5px;
  margin-bottom: 10px;

}

.form input{
  width: 45%;
  border: 1px solid white;
  color: white;
}
.form select {
  width: 48%;
  border: 1px solid white;
  color: white;
}
.form textarea{
  width: 100%;
  border: 1px solid white;
  color: white;
}

.form button{
  width: 100%;
  padding: 30px;
  background-color: teal;
  color: var(--text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.invalid-input{
  width: 100%;
  padding: 15px;
  margin-left: 350px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  height:25px;
  font-size: large;
  color:red;
  color:white;
}
.Personaldetails{
  text-align: center;
  margin-top: 30px;
  margin-left:8% ;
 
}
.Personaldetails ul li{
  display: inline-block;
  border: 1px solid black;
  padding: 7px;
  width: 190px;
  color: slateblue;
  font-weight: bold;
  height: auto;
}

.Personaldetails ul{
  margin:0px;
  padding: 0px;

}
.SearchProduct{
  width: 400px;
  height: 20px;
  margin: 20px;
  border: 1px solid black;
  padding-left: 20px;
}

/* task assign */

.taskadd{
  width: 25%;
  padding: 30px;
  margin-left: 780px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  height:15px;
  font-size: 20px;
  color:slateblue;
  font-weight: bolder;
}
.taskinput{
  margin-left:780px !important;
  margin-right:650px !important; 
  width:25% !important;
  padding:1px solid black;
  font-size:16px;
  display:block;
  background:none;
  background-image:none;
  border:2px solid black;
  color:black;
  border-radius:0;
  }

  .taskinputdropdown{
    margin-left:780px ;
    margin-right:650px !important; 
    width:25% !important;
    padding:1px solid black;
    font-size:16px;
    display:block;
    background:none;
    background-image:none;
    border:2px solid black;
    color:black;
    border-radius:0;
    }
    

    .datepicker{
      margin-right:500px ;
      margin-left:  780px; 
      width:25% !important;
      padding:1px solid black;
      font-size:16px;
      display:block;
      background:none;
      background-image:none;
      border:2px solid black;
      color:black;
      border-radius:0;
    }

    .tasksubmit{
      margin-right:1600px ;
      margin-left:450px ;

    }
    .headingtaskass{
      margin-left: 600px;
      font-weight: bolder;
      font-size: 28px;
      color:rgb(247, 247, 250);
    }

    .headingtaskass1{
      margin-left: 1000px;
      font-weight: bolder;
      font-size: 28px;
      color:slateblue;
    }


    .capstonebox{
      background-color: white;
      width: 300px;
      height: auto;
      border: 5px solid slateblue;
      padding: 50px;
      margin: 10px;
      
    }

    .capstone{
      text-align: center;
      margin-top: 30px;
      margin-left:20px ;
     
    }
    .capstone ul li{
      display: inline-block;
      border: 2px solid black;
      padding: 14px ;
      width: 170px;
      height: auto;
      font-size: 16px;
      font-weight: bold;
      color: slateblue;
      
    }
    
    .capstone ul{
      margin:0px;
      padding: 0px;
    
    }

    .queries{
      text-align: center;
      margin-top: 30px;
      margin-left:20px ;
      height: auto;
     
    }
    .queries ul li{
      display: inline-block;
      border: 2px solid black;
      padding: 10px ;
      width: 150px;
      height: auto;
      font-size: 16px;
      font-weight: bold;
      color: slateblue;
      
    }
    
    .queries ul{
      margin:0px;
      padding: 0px;
      height: auto;
    
    }

    .Todo {
      display: flex;
      margin: 0 -3rem 4px;
      padding: 1.1rem 3rem;
      justify-content: space-between;
      align-items: center;
      background: rgba(255, 255, 255, 0.1);
    }
    
    .Todo-task {
      position: relative;
      transition: opacity 0.4s linear;
    }
    
    .Todo-task.completed {
      opacity: 0.6;
    }
    
    .Todo-task.completed:before {
      content: "";
      position: absolute;
      top: 50%;
      left: -0.5rem;
      display: block;
      width: 0%;
      height: 2px;
      background: #fff;
      animation: strikeitem 0.5s ease-out 0s forwards;
    }
    
    @keyframes strikeitem {
      to {
        width: calc(100% + 1rem);
      }
    }
    
    .requireborder{
      margin-left: 300px;
      border: 1px solid black;
      height:350px;
      margin-top: 30px;
      
      
      
    }
    .priceborder{
      height: 490px;
      width: 800px;
      border: 1px solid black;
      margin: 15px 30%;
      background-color:rgba(4, 93, 201, 0.869); 
      display: flex;
     
    }
    .Searchrequirement{
      width: 400px;
      height: 20px;
      margin-left: 35%;
      border: 1px solid black;
      padding-left: 20px;
    }
    .grid-item{
      background-color: rgba(255, 255, 255, 0.8);
      padding-top:15px;
      font-size: 30px;
      text-align: left;
      margin-left: 150px;
    }
    .grid-container {
      display: grid;
      grid-template-columns: auto auto auto auto;
      background-color: white;
      padding: 0px;
    }

    .grid-item1 {
      background-color: rgba(255, 255, 255, 0.8);
      padding-top:15px;
      font-size: 30px;
      text-align: center;

     
      
    }
    .grid-item2 {
      background-color: rgba(255, 255, 255, 0.8);
      padding-top:15px;
      font-size: 30px;
      text-align: left;
      margin-left: 150px;
      color: white;
      
    
      
    }

    .Searchrequirement2{
      width: 430px;
      height: 40px;
      margin-left: 39%;
      border: 1px solid black;
      padding-left: 20px;
      margin-top: 10px;
    }
    .applications1{
      margin-left : 300px;
      color: white;
    }
    .totalarea{
      display: grid;
      grid-template-columns: auto auto auto auto auto auto   ;
      background-color: transparent;
      padding: 0px;
      height: auto;
      margin-left: 150px;
      margin-right: 150px;
      color: white;
     
    }
    .task1{
      border: 1px solid black;
      height: auto;
      margin-left:2% ;  
      padding: 15px;
      text-align: center; 
      border-radius: 10px;
      border: 1px solid white;
    }
    .mainimage{
      margin-left: 100px;
      margin-right: 600px;
      
      text-align: left;
      display: grid; 
      grid-template-columns: auto auto auto auto  auto
    }
    .maincontent{
      text-align: center; 
      padding: 15px;
    }
    .calenderform{
      height: 220px;
      width: 1000px;
      border: 1px solid black;
    
    }
    .calenderinside{
      display: grid; 
      grid-template-columns: auto auto ;

    }
  

    /* App.css */
body {
	font-family: Arial, sans-serif;
	background-color: #f5f7fa;
	margin: 0;
	padding: 0;
  overflow: auto;
}

.app {
	text-align: center;
	margin: 20px;
}

h1 {
	font-size: 2.5rem;
	margin-bottom: 20px;
	color: #05ca40ce;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	margin-top: 2rem;
}

.calendar-container {
	flex: 1;
	max-width: 500px;
	margin-right: 2rem;
}

.event-container {
	flex: 1;
	max-width: 500px;
}

@media screen and (max-width: 768px) {
	.container {
		flex-direction: column;
	}

	.calendar-container,
	.event-container {
		max-width: 100%;
		margin-right: 0;
		margin-bottom: 2rem;
	}
}

.react-calendar {
	width: 100%;
	max-width: 500px;
	background: rgba(255, 255, 255, 0.9);
	border: 1px solid #ccc;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.125em;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	padding: 10px;
	transition: background-color 0.2s;
}

.react-calendar--doubleView {
	width: 100%;
}

.react-calendar--doubleView .react-calendar__viewContainer {
	display: flex;
	margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer>* {
	width: 50%;
	margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.react-calendar button {
	margin: 0;
	border: 0;
	outline: none;
}

.react-calendar button:enabled:hover {
	cursor: pointer;
}

.react-calendar__navigation {
	display: flex;
	height: 44px;
	margin-bottom: 1em;
}

.react-calendar__navigation button {
	min-width: 44px;
	background: none;
}

.react-calendar__navigation button:disabled {
	background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
	background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.8rem;
}

.react-calendar__month-view__weekdays__weekday {
	padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.75em;
	font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
	color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth {
	color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
	padding: 2em 0.5em;
}

.react-calendar__tile {
	max-width: 100%;
	padding: 10px 6.6667px;
	background: none;
	text-align: center;
	line-height: 16px;
}

.react-calendar__tile:disabled {
	background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
	background-color: #e6e6e6;
}

.react-calendar__tile--now {
	background: #ffff76;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
	background: #ffffa9;
}

.react-calendar__tile--hasActive {
	background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
	background: #a9d4ff;
}

.react-calendar__tile--active {
	background: #007bff;
	color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
	background: #0056b3;
}

.react-calendar--selectRange .react-calendar__tile--hover {
	background-color: #e6e6e6;
}

.event-form {
	margin-bottom: 20px;
}

.event-form h2 {
	margin-bottom: 10px;
	color: #007bff;
}

.event-form p {
	font-size: 1.2rem;
	color: #1403f6;
}

.event-form input {
	padding: 8px;
	font-size: 1rem;
	margin-right: 10px;
}

.create-btn {
	padding: 8px 16px;
	background-color: #ff4081;
	color: white;
	border: none;
	border-radius: 4px;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.2s;
}

.create-btn:hover {
	background-color: #ff267f;
}

.event-list {
	margin-top: 20px;
}

.event-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.event-card {
	width: 300px;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 8px;
	margin: 10px;
	padding: 10px;
	cursor: pointer;
	transition: transform 0.2s, box-shadow 0.2s;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.event-card-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.event-date {
	font-size: 1rem;
	color: #f07809;
}

.event-actions {
	display: flex;
}

.update-btn,
.delete-btn {
	padding: 8px 12px;
	margin-left: 5px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 4px;
	font-size: 0.9rem;
	cursor: pointer;
	transition: background-color 0.2s;
}

.update-btn:hover,
.delete-btn:hover {
	background-color: #0056b3;
}

.event-card-body {
	padding-bottom: 10px;
}

.event-title {
	font-size: 1.5rem;
	color: #fd0000;
}

.selected {
	background-color: #ff4081 !important;
	color: white;
}

.event-marked {
	background-color: #ff4081;
	color: white;
}
.bodyofapp{
  background:linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('https://images.unsplash.com/photo-1492892132812-a00a8b245c45?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); 
  background-size:contain;
  background-attachment:scroll;
  min-height:  100vh;
}
.personaldetails{
  margin-left: 100px;
}
.taskassign{
  margin-left: 250px;
}
.fullpadetask{
  margin: 0;
  padding: 0;
  box-sizing: 'border-box';
  font-family: 'Poppins',sans-serif;
  margin-right: 300px;
  margin-left: 200px;
}
.fullpadetask1{
  margin: 0;
  padding: 0;
  box-sizing: 'border-box';
  font-family: 'Poppins',sans-serif;
  margin-right: 300px;
  margin-left: 500px;
}
.bodyoftask{
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  flex-direction: column;
  gap: 20px;
  background-color: transparent;
  display: grid;
  grid-template-columns: auto auto auto;
}
.inputbox{
    position: relative;
    width:250px;
    
}
.inputbox input {
  width: 100%;
  padding: 10px;
  border: 1px solid grey;
  background: transparent;
  border-radius: 5px;
  outline: none;
  color: white;
  font-size: 1em;
}

.inputbox select {
  width: 100%;
  padding: 10px;
  border: 1px solid grey;
  background: transparent;
  border-radius: 5px;
  outline: none;
  color: white;
  font-size: 1em;
}

.inputbox span{
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: rgb(230, 224, 224);
  text-transform: uppercase;
  transition: 0.5s;
}
.inputbox input:valid ~ span,
.inputbox input:valid ~ span
{
  color: skyblue;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: transparent;
  border-left: 1px solid skyblue;
  border-right: 1px solid skyblue;
  letter-spacing: 0.2em;
}

.inputbox select:valid ~ span,
.inputbox select:valid ~ span
{
  color: skyblue;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: transparent;
  border-left: 1px solid skyblue;
  border-right: 1px solid skyblue;
  letter-spacing: 0.2em;
}
.inputbox:nth-child(1) input:valid ~ span,
.inputbox:nth-child(1) input:valid ~ span
{

  background:  rgb(12, 71, 95);
  color: white;
  border-radius: 2px;
}

.inputbox:nth-child(2) input:valid ~ span,
.inputbox:nth-child(2) input:valid ~ span
{

  background:  rgb(12, 71, 95);
  color: rgb(243, 237, 237);
  border-radius: 2px;
}

.inputbox:nth-child(2) select:valid ~ span,
.inputbox:nth-child(2) select:valid ~ span
{

  background:  rgb(12, 71, 95);
  color: rgb(243, 237, 237);
  border-radius: 2px;
} 
.inputbox:nth-child(3) select:valid ~ span,
.inputbox:nth-child(3) select:valid ~ span
{

  background:  rgb(12, 71, 95);
  color: rgb(243, 237, 237);
  border-radius: 2px;
} 
.inputbox:nth-child(4) select:valid ~ span,
.inputbox:nth-child(4) select:valid ~ span
{

  background:  rgb(12, 71, 95);
  color: rgb(243, 237, 237);
  border-radius: 2px;
}
.inputbox:nth-child(5) select:valid ~ span,
.inputbox:nth-child(5) select:valid ~ span
{

  background:  rgb(12, 71, 95);
  color: rgb(243, 237, 237);
  border-radius: 2px;
}
.inputbox:nth-child(3) input:valid ~ span,
.inputbox:nth-child(3) input:valid ~ span
{

  background:  rgb(12, 71, 95);
  color: rgb(243, 237, 237);
  border-radius: 2px;
}
.inputbox:nth-child(4) input:valid ~ span,
.inputbox:nth-child(4) input:valid ~ span
{

  background:  rgb(12, 71, 95);
  color: rgb(243, 237, 237);
  border-radius: 2px;
}
.inputbox:nth-child(5) input:valid ~ span,
.inputbox:nth-child(5) input:valid ~ span
{

  background:  rgb(12, 71, 95);
  color: rgb(243, 237, 237);
  border-radius: 2px;
}
.inputbox:nth-child(6) input:valid ~ span,
.inputbox:nth-child(6) input:valid ~ span
{

  background:  rgb(12, 71, 95);
  color: rgb(243, 237, 237);
  border-radius: 2px;
}

.inputbox input:valid,
.inputbox input:valid
{
  border: 1px solid skyblue;
}


.inputbox option{
  background: black;
}
.buttonstyle{
  position: relative;
    height: 60px;
    width: 200px;
    margin-left: 400px;
    border-radius: 50px;
    border: none;
    outline: none;
    background:  rgb(12, 71, 95);
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}
.buttonstyle1{
  position: relative;
    height: 80px;
    width: 20px;
    margin-left: 300px;
  border-radius: 50px;
    border: none;
    outline: none;
    background:  rgb(12, 71, 95);
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}


.tablebody {
  margin: 0;
  background: linear-gradient(45deg, rgb(12, 71, 95), rgb(12, 71, 95));
  font-family: sans-serif;
  font-weight: 100;
  position:fixed; 
  overflow: auto;


  
  
}

.tablecontainer {
  position:fixed;
  top: 65%;
  left: 55%;
  transform: translate(-50%, -20%);
  overflow: auto;
}
.tablecontainer1 {
  position:fixed;
  top: 70%;
  left: 55%;
  transform: translate(-50%, -20%);
  overflow: auto;
}
.tablecontainer2 {
  position:fixed;
  top: 20%;
  left: 55%;
  transform: translate(-50%, -20%);
  overflow: auto;

}
table {
  width: 1300px;
  border-collapse:collapse;
  overflow: auto;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  
}

th,
td {
  padding: 15px;
  background-color: rgba(255,255,255,0.2);
  color: #fff;
}

th {
  text-align: left;
}

thead {
  th {
    background-color: rgb(12, 71, 95);
  }
}

tbody {
  tr {
    &:hover {
      background-color: rgba(255,255,255,0.3);
    }
  }
  td {
    position: relative;
    &:hover {
      &:before {
        content: "";
        position: fixed;
        left: 0;
        right: 0;
        top: -9999px;
        bottom: -9999px;
        background-color: rgba(255,255,255,0.2);
        z-index: -1;
      }
    }
  }
}
.buttonstyledelupd{
  position: relative;
    height: 25px;
    width: 50%;
   
    border-radius: 50px;
    border: none;
    outline: none;
    background:  rgb(12, 71, 95);
    color: #fff;
    font-size: 9px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}
Link{
  color: white;
}
.totalpage{
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  grid-gap: 90px;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid rgb(12, 71, 95);
  border-right: none;
  padding: 5px;
  height: 35px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: rgb(12, 71, 95);
}

.searchButton {
  width: 40px;
  height: 35px;
  border: 1px solid rgb(12, 71, 95);
  background: rgb(12, 71, 95);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 20%;
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrap1{
  width: 20%;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}





